*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.result {
  margin-right: 28px;
}

.content__list {
  overflow: auto;
  height: 298px;
  min-width: 399px;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  inline-size: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  margin-bottom: 32px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 18px;
  width: 260px;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
}

.content__card-link:active {
  background-color: rgb(84, 80, 80);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  margin: 2px;
}

.content__video-card-title {
  color: rgb(255, 255, 255);
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  background-color: transparent;
  width: 225px;
  height: 27px;
  color: white;
}

.search-form__fieldset {
  border: none;
}

.button {
  cursor: pointer;
  appearance: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  min-height: 34px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.more-button {
  width: 399px;
}

.search-form__checkbox-list {
  display: flex;
  cursor: pointer;
  gap: 16px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  display: block;
  margin: auto;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}
.button:focus {
  outline: none;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.search-form__textfield:active {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.button:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: rgb(84, 80, 80);
}
